* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bg-color: rgb(34, 34, 34);
$bg-image-color: rgb(22, 22, 22);
$bg-message-container-color: rgb(19, 19, 19);
$input-color: rgb(20, 20, 20);

$color-font-ice: rgb(197, 197, 197);
$color-font-secondary: rgba(102, 102, 102, 0.945);
$color-border-container:rgb(26, 26, 26);

$xx-font-small: 0.7rem;
$x-font-small: 0.9rem;
$-small-font: 1rem;
$-medium-font: 1.3rem;
$-large-font: 1.9rem;




body {
  font-size: 16px;
  background-color: $bg-message-container-color;
  font-family: "Inter", sans-serif;
  
}

@import "./contact-user-component";

.fas {
  color: $color-font-secondary;
}
i {
  cursor: pointer;
}
li {
  list-style: none;
}
main {
  display: flex;
  height: 100vh;
  @import "_aside_bar";

  @import '_contact-section';

  .container-messages {
    width: 55vw;
    min-width: 420px;
    padding: 0px 20px;
    position: relative;
  
    

    .container-messages-header {
      z-index: 10111;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $bg-color;
      padding: 5px 20px;
      height: 10vh;

      justify-content: space-between;
      align-items: center;
      display: flex;

      .current-group-message-info {
        .current-group-name {
          display: flex;
          align-items: center;
          h3 {
            font-size: $x-font-small;
            color: $color-font-ice;
          }
          i {
            color: rgb(132, 132, 211);
            margin-left: 10px;
          }
        }
        .current-group-member-info {
          small {
            color: $color-font-secondary;
            font-size: $xx-font-small;
          }
        }
      }
      .add-contact-button {
        img {
        }
        i {
        }
      }
    }
    .messages-area {
       
      position: relative;
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar{
          width: 6px;
          
          
      }
      &::-webkit-scrollbar-track{
          background: rgb(48, 48, 48);
      }
      &::-webkit-scrollbar-thumb{
          background: rgb(95, 95, 95);
          border-radius: 25px;
      }

      .user-message-area {
          
        display: flex;
        flex-direction: row;
        padding: 5px 0px;
        .wrapper-div{
            .container-message-user {
                background-color: rgb(41, 41, 41);
                color: $color-font-ice;
                font-size: $xx-font-small;
                padding: 15px;
                border-radius: 10px 10px 10px 0px;
                max-width: 50%;
      
                .container-message-user-header {
                  display: flex;
                  justify-content: space-between;
                  align-self: center;
                  margin-bottom: 5px;
                  h3 {
                    font-weight: 600;
                  }
                  time {
                  }
                }
      
                article {
                  font-weight: 400;
                }
              }
        }

        img {
          margin-right: 5px;
          border-radius: 50%;
          object-fit: cover;
          width: 40px;
          height: 40px;
          align-self: flex-end;
        }
        p{
            font-size: $xx-font-small;
            color: $color-font-secondary;
        }

       
      }
      .your-message-area {
        display: flex;

        width: 100%;
        justify-content: flex-end;

        .container-message-user {
          padding: 12px 20px;
          color: $color-font-ice;

          font-size: $xx-font-small;

          border-radius: 10px 10px 0px 10px;
          width: 50%;
          background-color: rgb(53, 74, 102);
          .container-message-user-header {
            padding-bottom: 5px;
            display: flex;
            justify-content: space-between;
            h3 {
              font-weight: 700;
            }
            time {
            }
          }
          article {
          }
        }
      }
    }

    
      .input-message-area {
        position: absolute;
       width: 100%;
        bottom: 10px;
        z-index: 122;

        input[type="text"] {
          padding: 10px 15px;
          width: 100%;
          background-color: rgb(7, 7, 7);
          border-radius: 5px;
          border: none;
          color: $color-font-ice;
        }
      }
    
  }
  @import '_task-container';
}
